/* Variables */

:root {
	--white: #ffffff;
	--extra-light-gray: #f2f2f2;
	--gray-hover: #ebebeb;
	--light-gray: #eeeeee;
	--gray: #a9a9a9;
	--gray-line: #e5e5e5;
	--dark-gray: #666666;
	--light-black: #333333;
	--gray-logo: #bdbbbc;
	--gray-button: #ababab;
	--black: #000000;
	--blue: #81b3d2;
	--dark-blue: #669ec0;
	--extra-dark-blue: #5496bd;
	--brown: #766357;
	--dark-brown: #604e43;
	--extra-dark-brown: #503e33;
	--opacity-black: rgba(0, 0, 0, 0.3);
	--opacity-white-footer: rgba(255, 255, 255, 0.9);
	--opacity-white-scale: rgba(255, 255, 255, 0.3);
	--shadow-main: rgba(0, 1, 1, 0.2);
	--shadow-button: rgba(171, 171, 171, 0.3);
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: var(--black);
	text-transform: uppercase;
	background-color: var(--extra-light-gray);
	position: relative;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.reasons-list-block img {
	display: block;
}

.container {
	background-color: var(--white);
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	box-shadow: 0px 5px 15px var(--shadow-main);
}


.title {
	text-align: center;
	font-size: 21px;
	line-height: 27px;
	margin: 0;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.paragraph {
	margin: 0;
	margin-top: 25px;
	padding: 0 29px;
}

.paragraph-title {
	order: -1;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	margin: 0;
	margin-top: 35px;
	width: 150px;
	align-self: center;
}

.main-navigation {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: var(--black);
	background-color: var(--white);
	display: flex;
}

.site-navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	width: 100%;
	min-height: 56px;
	align-items: center;
	padding-left: 72px;
	padding-right: 72px;
}

.site-navigation li {
	width: 228px;
}

.site-navigation li:nth-child(4n+3) {
	margin-left: auto;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4)
{
	text-align: right;
}

.header-logo {
	width: 138px;
	height: 70px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.site-navigation a {
	color: var(--black);
}

.site-navigation a:hover {
	color: var(--blue);
}

.site-navigation a:active {
	color: var(--opacity-black);
}

.active-page a{
	color: var(--brown);
}

.main-content {
	display: grid;
}

.welcome {
	text-align: center;
	background-image: url("../img/white_mask.svg"), url("../img/background.jpg");
	background-position: 0 bottom, center;
	background-repeat: no-repeat, no-repeat;
	height: 509px;
}

.welcome-logo {
	margin-top: 78px;
}

.hotel-search {
	background-color: var(--white);
	text-align: center;
	padding-top: 57px;
	position: relative;
	z-index: 1;
}

.hotel-search .light-gray-text {
	line-height: 24px;
}

.hotel-search-title {
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 34px;
}

.hotel-search-form {
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	padding: 55px;
	width: 568px;
	margin: 0 auto;
	box-sizing: border-box;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
	transition: transform 0.5s ease, opacity 0.5s;
}

.form-hide {
	transform: translateY(-86px) translateX(-50%);
	opacity: 0;
	transition: transform 0.5s ease, opacity 0.5s;
	pointer-events: none;
}

.form-error {
	animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-51%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-49%);
  }
}

.input {
	background-color: var(--extra-light-gray);
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: var(--black);
	text-transform: uppercase;
	height: 34px;
	width: 100%;
	border-width: 0px;
	padding: 0;
	border: 2px solid var(--extra-light-gray);
}

.small-input {
	text-align: center;
	width: 114px;
	box-sizing: border-box;
	padding: 0 30px;
	height: 38px;
}

.big-input {
	padding-left: 10px;
}

.input:hover {
	background-color: var(--gray-hover);
	border-color: var(--gray-hover);
}

.input:focus {
	background-color: var(--white);
	border-color: var(--gray-line);
	outline: 0;
}

.search-form-label {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	min-width: 112px;
	text-align: left;
}

.kids {
	box-sizing: border-box;
	padding-left: 52px;
	margin-right: 6px;
}

.visually-hidden {
	display: none;
}

.social {
	margin: 36px 0;
}

.social-list {
	list-style: none;
	display: flex;
	padding: 0;
	justify-content: center;
	margin: 0;
}

.contacts {
	display: flex;
	padding: 16px 0 0 73px;
	justify-content: center;
}

.credits {
	display: flex;
	padding: 0;
	padding-top: 38px;;
	padding-left: 64px;
}

.credits p {
	margin: 0;
	margin-top: 14px;
	padding: 0;
}

.contacts a {
	color: var(--black);
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	margin-top: 8px;
}

.credits a {
	font-size: 14px;
	color: var(--black);
}

.found-hotels-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1px;
}

.hotel-name {
	margin: 0;
	margin-top: -7px;
}

.hotel-name a{
	color: var(--black);
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.hotel-name a:hover{
	color: var(--blue);
}

.hotel-name a:active{
	color: var(--opacity-black);
}

.light-gray-text {
	color: var(--light-black);
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	font-weight: normal;
	margin: 0;
}

.search-btn {
	position: relative;
	z-index: 1;
}

.btn {
	display: inline-block;
	color: var(--white);
	text-align: center;
	border: 0;
}

.btn-primary,
.btn-secondary {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.btn-primary {
	background-color: var(--brown);
	box-sizing: border-box;
}

.btn-large {
	width: 568px;
	padding: 30px 10px;
	margin-top: 45px;
}

.btn-secondary {
	background-color: var(--blue);
	text-transform: uppercase; 
	padding: 16px 10px;
	cursor: pointer;
	margin-top: 27px;
}

.btn-primary:hover,
.btn-secondary:hover {
	color: var(--white);
}

.btn-primary:active,
.btn-secondary:active {
	color: rgba(255, 255, 255, 0.3);
}

.btn-primary:hover {
	background-color: var(--dark-brown);
}

.btn-primary:active {
	background-color: var(--extra-dark-brown);
}

.btn-secondary:hover {
	background-color: var(--dark-blue);
}

.btn-secondary:active {
	background-color: var(--extra-dark-blue);
}

.hotel-link {
	font-size: 14px;
	line-height: 21px;
	padding: 3px 16px;
	margin: 0;
}

.intro {
	padding-top: 42px;
	padding-bottom: 51px;
	min-height: 216px;
	box-sizing: border-box;
}

.intro p {
	padding-top: 46px;
	padding-right: 2px;
}

.rating {
	background-color: var(--extra-light-gray);
	font-size: 14px;
	line-height: 21px;
	color: var(--dark-gray);
	padding: 3px 12px 3px 15px;
	font-weight: normal;
	margin-top: auto
}

.social-icon {
	display: flex;
	background-color: var(--blue);
	width: 46px;
	height: 48px;
	margin-left: 3px;
	margin-right: 3px;
	justify-content: center;
	align-items: center;
}

.social-icon:hover {
	background-color: var(--dark-blue);
}

.social-icon:active {
	background-color: var(--extra-dark-blue);
}

.social-icon a {
	margin: 0;
}

.social-icon a:active svg {
	opacity: 0.3;
}

.reasons {
	text-align: center;
}

.reasons-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	counter-reset: advantage;
}

.reasons-list-last::before,
.reasons-list-main::before {
  content: "— №"counter(advantage)" —";
	counter-increment: advantage;
	font-size: 14px;
	line-height: 21px;
	margin-top: 25px;
}
.advantage-illustrated::before {
	display: none;
}

.reasons-list-block {
	display: flex;
	min-height: 256px;
}

.reverse {
	flex-direction: row-reverse;
}

.reasons-list-main {
	background-color: var(--blue);
	color: var(--white);
	min-height: 256px;
	width: 400px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-top: 13px;
	box-sizing: border-box;
}

.reasons-list-sub {
	list-style: none;
	padding: 0;
	display: flex;
	min-height: 330px;
	box-sizing: border-box;
}

.reasons-list-sub li {
	width: 400px;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	box-sizing: border-box;
	padding-top: 125px;
	position: relative;
}

.house {
	background-image: url("../img/house.svg");
	background-repeat: no-repeat;
	background-position: 161px 60px;
}

.food {
	background-image: url("../img/food.svg");
	background-repeat: no-repeat;
	background-position: 161px 61px;
}

.gift {
	background-image: url("../img/gift.svg");
	background-repeat: no-repeat;
	background-position: 167px 55px;
}

.reasons-list-last {
	background-color: var(--light-gray);
	width: 400px;
	min-height: 256px;
	display: flex;
	flex-direction: column;
	padding: 12px 49px;
	box-sizing: border-box;
}

.reasons-list-last .paragraph {
	padding: 0 20px;
}

.hotel-filter {
	color: var(--white);
	background-image: url("../img/background_blur.jpg");
	background-repeat: no-repeat;
	background-position: center;
	min-height: 217px;
	box-sizing: border-box;
}

.hotel-filter-title {
	font-size: 16px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	text-align: left;
	font-weight: bold;
}

.hotel-filter-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 23px;
}

.hotel-filter-list label {
	cursor: pointer;
}

.hotel-filter-list li {
	position: relative;
	margin-bottom: 26px;
	padding-left: 40px;
}

.filter-input-checkbox + label::before {
  content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox_off.svg");
	background-repeat: no-repeat;
	left: -1px;
	top: 1px;
}

.filter-input-checkbox:disabled + label::before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox_off_inactive.svg");
	background-repeat: no-repeat;
	left: -1px;
	top: 1px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox_on.svg");
	background-repeat: no-repeat;
	left: -1px;
	top: 1px;
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox_on_inactive.svg");
	background-repeat: no-repeat;
	left: -1px;
	top: 1px;
}

.filter-input-checkbox:checked + label::before {
	opacity: 0;
}

.hotel-filter-input {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: var(--white);
	background-color: transparent;
	border: 0;
	width: 50px;
	margin-left: -3px;
}

.hotel-filter-input:focus {
	outline: none;
}

.hotel-filter-show {
	text-transform: uppercase;
	color: #fff;
	border: 2px solid var(--white);
	font-size: 14px;
	line-height: 21px;
	background-color: transparent;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 4px 34px 6px 34px;
	margin-top: 33px;
	margin-left: 85px;
	cursor: pointer;
	width: min-content;
}

.hotel-filter-show:hover {
	color: var(--black);
	background-color: var(--white);
}

.found-hotels {
	display: flex;
	align-items: center;
	padding: 29px 73px 28px 73px;
	border-bottom: 1px solid var(--gray-line);
}

.found-number {
	margin-left: 5px;
}

.found-hotels-title {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	font-weight: bold;
}

.found-hotels-sort {
	list-style: none;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	display: flex;
}

p.found-hotels-sort {
	margin: 0;
	margin-left: 47px;
	margin-top: 2px;
	align-self: flex-start;
}

ul.found-hotels-sort {
	padding: 0;
	margin: 0;
	margin-left: 39px;
	margin-top: 4px;
	min-width: 240px;
	justify-content: space-between;
	align-self: flex-start;
}

.found-hotels-sort-dir {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	margin-left: auto;
	min-width: 34px;
	justify-content: space-between;
	margin-top: 7px;
}

.found-hotels-sort-dir a:hover path {
	fill: var(--black)
}

.found-hotels-sort-dir a:active path {
	fill: var(--blue)
}

.active-dir path {
	fill: var(--blue)
}

.found-hotels-sort-item {
	border-bottom: 1px dotted var(--blue);
	color: var(--opacity-black);
}

.found-hotels-sort-item:hover {
	color: var(--blue);
}

.found-hotels-sort-item:active {
	color: var(--black);
	border-bottom: 0;
}

.active-item {
	color: var(--blue);
	border-bottom: 0;
}


.form-paragraph {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0;
	margin-bottom: 29px;
}

.form-paragraph-adults {
	position: relative;
}

.form-paragraph-btn {
	position: absolute;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.form-paragraph-btn svg {
	display: block;
}

.calendar {
	right: 1px;
}

.form-paragraph-btn:hover path{
	fill: var(--black);
}

.form-paragraph-btn:active path{
	fill: var(--blue);
}

.plus {
	right: 1px;
	top: 1px;
}

.minus:hover rect {
	fill: var(--black)
}

.minus:active rect {
	fill: var(--blue)
}

.map {
	position: relative;
}

.map iframe {
	display: block;
	position: absolute;
	top: 0;
}

.map img {
	display: block;
}

.footer {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	min-height: 120px;
}

.footer-index {
	position: absolute;
	bottom: 0;
	width: inherit;
	background-color: var(--opacity-white-footer);
}

.credits a {
	margin-left: 10px;
}

.credits a:hover path {
	fill: var(--blue)
}

.credits a:active path {
	fill: var(--gray-logo);
}

.hotel-preview {
	display: flex;
	padding: 32px 73px 28px 72px;
	border-bottom: 1px solid var(--gray-line);
}

.hotel-preview-image {
	margin-right: 30px;
	height: 100%;
}

.hotel-preview-info {
	display: flex;
	flex-direction: column;
}

.hotel-preview-description {
	display: grid;
	grid-template-columns: 110px min-content;
	grid-template-rows: min-content min-content;
	grid-column-gap: 6px;
	grid-row-gap: 15px;
	margin-bottom: 0;
	margin-top: 8px;
}

.hotel-preview-rating {
	margin-left: auto;
	display:flex;
	flex-direction: column;
}

.stars-container {
	align-self: flex-end;
	margin: -2px;
}

.stars-container img {
	margin-right: 1px;
}

.type {
	min-width: 116px;
	text-align: left;
}

.price {
	text-align: left;
}

.contact-links {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.filters {
  display: flex;
  align-items: flex-start;
	padding: 27px 72px;
	padding-bottom: 5px;
}

.filters-options {
  margin: 0;
	margin-right: 43px;
  box-sizing: border-box;
  width: 20%;
	border: 0;
	padding: 0;
}

.filters-range {
  margin: 0;
	margin-left: auto;
	margin-right: 2px;
  box-sizing: border-box;
  width: 30%;
	border: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.filters-range-info {
	display: flex;
	width: 317px;
	height: 36px;
	border: 2px solid var(--white);
	border-radius: 2px;
	margin-top: 11px;
	padding-top: 2px;
	box-sizing: border-box;
	position: relative;
}

.filters-range-info::after {
	content: "";
	height: 20px;
	border: 1px solid var(--white);
	position: absolute;
	right: 50%;
	top: 6px;
	transform: translateX(3px);
}

.filters-range-price {
	flex-grow: 1;
}

.filters-range-price .paragraph {
	padding: 0;
	margin: 0;
}

.min-price {
	padding-left: 65px;
	padding-top: 1px;
}

.max-price {
	padding-left: 45px;
	padding-top: 1px;
}

.filters-range-buttons {
	margin-top: 21px;
	display: flex;
	position: relative;
}

.scale {
  height: 2px;
	background: var(--opacity-white-scale);
	width: 100%;
}

.bar {
  width: 80%;
  height: 2px;
  background: var(--white);
}

.toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--gray-button);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-button);
  cursor: pointer;
}

.toggle:hover {
	width: 5px;
	height: 5px;
	border: 9px solid var(--white);
	margin-left: -1px;
	margin-top: -1px;
}

.toggle-max {
  left: 252px;
}