/* Variables */

:root {
	--white: #ffffff;
	--extra-light-gray: #f2f2f2;
	--gray-hover: #EBEBEB;
	--light-gray: #eeeeee;
	--gray: a9a9a9;
	--dark-gray: #666666;
	--light-black: #333333;
	--black: #000000;
	--blue: #81b3d2;
	--dark-blue: #669eC0;
	--extra-dark-blue: #5496BD;
	--brown: #766357;
	--dark-brown: #604e43;
	--extra-dark-brown: #503e33;
	--opacity-black: rgba(0, 0, 0, 0.3);
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: 400;
	color: var(--black);
	text-transform: uppercase;
	background-color: var(--extra-light-gray);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	background-color: var(--white);
}
.title {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	padding-top: 99px;
}

.paragraph {
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}

.main-navigation {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: var(--black);
	background-color: var(--white);
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: var(--black);
}

.site-navigation a:hover {
	color: var(--blue);
}

.site-navigation a:active {
	color: var(--opacity-black);
}

.active-page a{
	color: var(--brown);
}

.welcome {
	text-align: center;
	background-image: url("../img/white_mask.svg"), url("../img/background.jpg");
	background-position: bottom, center;
	background-repeat: no-repeat, no-repeat;
	padding-top: 77px;
	padding-bottom: 86px;
}

.hotel-search {
	background-color: var(--white);
	text-align: center;
}

.hotel-search-title {
	font-size: 30px;
	font-weight: bold;
	padding-top: 61px;
}

.hotel-search-form {
	background-color: var(--white);
}

.input {
	background-color: var(--extra-light-gray);
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: var(--black);
	text-transform: uppercase;
}

.search-form-label {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.visually-hidden {
	display: none;
}

.social-list {
	list-style: none;
}

.contacts a {
	color: var(--black);
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.credits a{
	font-size: 14px;
	color: var(--black);
}

.found-hotels-list {
	list-style: none;
}

.hotel-name a{
	color: var(--black);
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.hotel-name a:hover{
	color: var(--blue);
}

.hotel-name a:active{
	color: var(--opacity-black);
}

.light-gray-text {
	color: var(--light-black);
	font-size: 14px;
	line-height: 21px;
	padding-bottom: 50px;
	text-align: center;
}


.btn {
	display: inline-block;
	color: var(--white);
	text-align: center;
}

.btn-primary,
.btn-secondary {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.btn-primary {
	background-color: var(--brown);
}

.btn-secondary {
	background-color: var(--blue);
	text-transform: uppercase; 
}

.btn-primary:hover,
.btn-secondary:hover {
color: #fff;
}

.btn-primary:active,
.btn-secondary:active {
	color: rgba(255, 255, 255, 0.3);
}

.btn-primary:hover {
	background-color: var(--dark-brown);
}

.btn-primary:active {
	background-color: var(--extra-dark-brown);
}

.btn-secondary:hover {
	background-color: var(--dark-blue);
}

.btn-secondary:active {
	background-color: var(--extra-dark-blue);
}

.hotel-link {
	font-size: 14px;
	line-height: 21px;
}

.intro p {
	padding-top: 17px;
}

.rating {
	background-color: var(--extra-light-gray);
	font-size: 14px;
	line-height: 21px;
	color: var(--dark-gray);
	padding: 3px 12px 3px 15px;
}